html, body {
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
    font-size: 1rem;
    font-family: 'Nanum Gothic',Dotum,"돋움",Gulim,"굴림",Verdana,sans-serif;
}
body {
    color: #272727;
    background: #ececec;
}

a {
    color: #404040;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color:#70b123;
}

.go-to-top {
    padding: 1em;
    position: fixed;
    bottom: 5em;
    right: 1.35em;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    background-color: rgba(235,235,235,0.80);
    border-radius: 7px;
    z-index: 9999;
}
.go-to-top:hover {
    color: #FFF;
    background-color: rgba(135,135,135,0.50);
}