
/* Login*/
.card-signin {
    border-radius: 0.4rem;
}
#form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;  
}
#form-signin .checkbox {
    font-weight: 400;
}
#form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#form-signin .form-control:focus {
    z-index: 2;
}
#form-signin .signinEmail, #form-signin .signinEmail:focus {
    margin-bottom: 0;
    outline: 0px solid transparent;;
    border-top: none;
    border-left: none;
    border-right: none;
}
#form-signin .signinPassword, #form-signin .signinPassword:focus {
    margin-bottom: 10px;
    outline: 0px solid transparent;;
    border-top: none;
    border-left: none;
    border-right: none;
}
#form-signin input:focus{
    outline: 0px solid transparent;;
}
.msg {
    margin-bottom: 0;
}

/* Button */
.btn {
    font-weight: bold !important;
}
button[disabled] {
    cursor: default;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}