/* Top Banner Section ---------------------- */
div.slides {
    max-height: 550px !important;
    height: 30vw;
    min-height: 350px !important;
    background-color: rgba(112, 136, 100, 0.7);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 1px rgba(250, 250, 250, 0.4) inset;
}
div.pageBanner {
    margin-top: 50px;
    max-height: 550px !important;
    height: 30vw;
    min-height: 350px !important;
    background-color: rgba(112, 136, 100, 0.7);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 1px rgba(250, 250, 250, 0.4) inset;
}
div.div-mobile {
    height: 300px !important;
    background-attachment: scroll;
}

/*
.general-banner { padding: 50px 0 70px; font-size: 25px; font-weight: 300; color: rgba(255,255,255,1); line-height: 1.25em; background-image: url("../images/2015_history_backgrounds.png"); }
.general-shattered-fixed-banner { padding: 0; background: linear-gradient(315deg, rgba(0, 170, 255, 0.1), rgba(220, 110, 10, 0.2) 80%) repeat scroll 0 0%, rgba(0, 0, 0, 0) url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png") repeat scroll 0 0;  box-shadow: 0 1px rgba(250, 250, 250, 0.4) inset; }
.general-noisy-grid-banner { padding: 50px 0 80px; font-size: 25px; font-weight: 300; color: rgba(255,255,255,1); line-height: 1.25em; background: linear-gradient(315deg, rgba(255, 90, 200, 0.1), rgba(0, 170, 255, 0.07)), linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)), url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_grid.png"); }
.location-scroll-banner { padding: 0; color: rgba(255,255,255,1); line-height: 1em; background: linear-gradient(300deg, rgba(0, 170, 255, 0.1), rgba(220, 110, 10, 0.3) 70%) repeat scroll 0 0%, rgba(0, 0, 0, 0) url("../images/location-bg.png") no-repeat scroll center 0; background-size: cover; box-shadow: 0 1px rgba(250, 250, 250, 0.4) inset; }
 ---------------------- */

/* Arrow Banner Section
.arrow-down-white { width: 100%; position: relative; background-color: #231f20; background-position: center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow: hidden; }
.arrow-down-white:before, .arrow-down-white:after { content: ''; display: block; position: absolute; bottom: 0; width: 50%; height: 1.06em; background: rgba(255,255,255,1) url("http://www.transparenttextures.com/patterns/concrete-wall.png") repeat 0 0; -moz-transform: skew(45deg); -moz-transform-origin: right bottom; -ms-transform: skew(45deg); -ms-transform-origin: right bottom; transform: skew(45deg); transform-origin: right bottom; -webkit-transform: skew(45deg); -webkit-transform-origin: right bottom; }
.arrow-down-white:after { right: 0; -moz-transform: skew(-45deg); -moz-transform-origin: left bottom; -ms-transform: skew(-45deg); -ms-transform-origin: left bottom; transform: skew(-45deg); transform-origin: left bottom; -webkit-transform: skew(-45deg); -webkit-transform-origin: left bottom; }
 ---------------------- */

/* Shadow Section
.topshadow { -webkit-box-shadow: 0 -5px 20px -4px #000; -moz-box-shadow: 0 -5px 20px -4px #000; box-shadow: 0 -5px 20px -4px #000; }
.bottomshadow { -webkit-box-shadow: 0 5px 15px -5px #000; -moz-box-shadow: 0 5px 15px -5px #000; box-shadow: 0 5px 15px -5px #000; }
.topbottom-img-shadow {margin-top: 50px; padding: 0.25% 0; background: url("../images/footer-bg.png") center -1px no-repeat;}
hr.black-line { margin: 25px auto 25px; width: 200px; border: 1px solid rgba(12,12,12,0.5); display: block; }
hr.divimg { margin: 3.5% 0; height: 1px; background-image: -moz-linear-gradient(left center , rgba(86, 148, 13, 0), rgba(86, 148, 13, 0.35), rgba(86, 148, 13, 0)); border: 0 none; }
---------------------- */

/* Lean Slider for top banner Section ---------------------- */
.slider-wrapper {
    margin-top: 54px;
    position: relative;
    box-shadow: 0 1px rgba(250, 250, 250, 0.4) inset;
}
.lean-slider {
    position: relative;
    /* zoom: 1; */
    /* transform-origin: 0 0; */
    transform: scale(1);
    overflow: hidden;
}
.lean-slider:before, .lean-slider:after {
    content: "";
    display: table;
}
.lean-slider:after {
    clear: both;
}
.lean-slider-slide {
    width: 100%;
    margin-right: -100%;
    display: none;
    float: left;
    position: relative;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -ms-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    opacity: 0;
}

.lean-slider-slide.current {
    display: block;
    opacity: 1;
}
#slider-control-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    -webkit-transition: opacity 0.7s linear;
    -moz-transition: opacity 0.7s linear;
    -ms-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
    opacity: 0.7;
}
#slider-control-nav a {
    margin: 0 3px;
    width: 14px;
    height: 14px;
    background: url("../images/brand/bullets.png") no-repeat 0 0;
    text-indent: -9999px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    opacity: none;
    display: inline-block;
}
#slider-control-nav a.active {
    background-position: 100% 0;
}
