html, body {
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
    font-size: 1rem;
    font-family: 'Nanum Gothic',Dotum,"돋움",Gulim,"굴림",Verdana,sans-serif;
}
body {
    color: #272727;
    background: #fff url(http://www.transparenttextures.com/patterns/concrete-wall.png);
}

a {
    color: #404040;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color:#70b123;
}

.main-container {
    margin-top: 0;
}

.notFound-container {
    margin-top: 10rem;
}

/* Top menu */
ul.top_navigation { 
    position: relative; 
}
ul.top_navigation > li.nav-item {
    font-weight: bold;
}
ul.top_navigation > li.active > a {
    padding-top: .45rem;
    color: rgba(248,143,28,1) !important;
    border-top: 1px solid rgba(248,143,28,1);
}
ul.top_navigation > li ul {
    padding: 0.35em 0.5em;
    /*width: 110%;*/
    min-width: 135px;
    background-color:#343a40; /*rgba(0,0,0,0.9);*/
    list-style: none;
    position: absolute;
    /*right: 0;*/
    top: 35px;
    border-radius: 0.4rem;
    z-index: 2000;
}
li.nav-item ul li {
    margin:0.25em 0;
    line-height:1.5em;
    /*float:left; */
    border-top:1px solid rgba(255,255,255,1);
   }
ul.top_navigation > li:last-child ul{
    right: 0;
}
li.nav-item ul li:not( :last-child ) {
    /*border-top:1px solid rgba(255,255,255,1);
    border-right:1px solid rgba(255,255,255,1);*/
}
li.nav-item ul li a {
    margin:0 auto;
    padding:0.90em 0.6em 0.55em;
    width:100%;
    font-size:0.95em;
    letter-spacing:-0.01em;
    color:rgba(255,255,255,1);
    line-height:1em;
    display:block;
}
li.nav-item ul li a:hover,
li.nav-item ul:not( :hover ) li.active a {
    color:rgba(248,143,28,1);
    font-weight:bold;
    border-top: none;
}

/* 
ul.top_navigation { margin: 0; position: relative; top: 25px; line-height: 1em; list-style: none; display: block; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; float: right; }
ul.top_navigation > li { margin:0; padding: 0 6px; line-height: 1em; float: left; }
ul.top_navigation > li:last-child { margin: 0; padding: 0 0 0 6px; }
ul.top_navigation > li:not( :last-child ) { border-right: 1px solid rgba(0,0,0,1); }
ul.top_navigation > li > a { padding: 5px 0 25px; color: rgba(0,0,0,1); font-weight: 800; font-size: 0.95em; text-transform: uppercase; text-align: center; letter-spacing: 0; position: relative; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
ul.top_navigation > li > a:hover { border-top: 1px solid rgba(0,0,0,1); }
ul.top_navigation > li > a.crt { color: #f88f1c; }
ul.top_navigation > li.active > a { color: rgba(248,143,28,1); border-top: 1px solid rgba(248,143,28,1); }

ul.top_navigation > li ul { padding: 0.5em 1%; width: 110%; background-color: rgba(0,0,0,0.9); list-style: none; position: absolute; right: 0; top: 20px; display: none; -webkit-border-radius: 0.4em; -moz-border-radius: 0.4em;  -khtml-border-radius: 0.4em; border-radius: 0.4em; z-index:2000; }

ul.top_navigation > li ul li { margin: 0.5em 0; line-height: 1em; float: left; }
ul.top_navigation > li ul li:not( :last-child ) { border-right: 1px solid rgba(255,255,255,1); }
ul.top_navigation > li ul a { margin: 0 auto; padding: 0 0.6em 0; width: 100%; font-size: 0.85em; letter-spacing: -0.01em; color: rgba(255,255,255,1); line-height: 1em; display: table; }
ul.top_navigation > li ul li a:hover, ul.top_navigation > li ul:not( :hover ) li.active a { color: rgba(248,143,28,1); font-weight: bold; /
*/

.smaller { margin-top: 0; background-color: rgba(255,255,255,1); -webkit-box-shadow: 0 -5px 12px -4px #000; -moz-box-shadow: 0 -5px 12px -4px #000; box-shadow: 0 -5px 12px -4px #000; }
.smaller nav { padding: 5px 10px 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
.smaller a.brand-logo { margin-top: 0; background: url("../images/oakville-korean-church-logo.png") left top no-repeat; background-size: 80%; }
.smaller ul.top_navigation { margin: 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
.smaller ul.top_navigation > li > a { color: rgba(0,0,0,1); }
.smaller ul.top_navigation > li.active > a { color: #f88f1c;}
.smaller ul.top_navigation > li > a:hover, .smaller ul.top_navigation > li > a:focus { color: #f88f1c; }

/* Banner */
.banner-heading {
    position: relative;
    top: 11.75vw;
    font-family: "Roboto",Helvetica,sans-serif;
    color: rgba(255,255,255,1);
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: -.015em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

/* Breadcrumb Style*/
.breadcrumbList {
    margin:1.25% 0 1.25%;
    padding:5px 1%;
    width:100%;
    border:1px solid rgba(156,156,156,.5);
    border-radius:.25rem;
    -moz-border-radius:.25rem;
    -webkit-border-radius:.25rem;
    list-style:none;
    display:table;
}
.breadcrumbList:after{
    content:"";
    display:table;
    clear:both;
}
.breadcrumbList li {
    margin:1px 6px 0 0;
    padding:0 0 0 0;
    font-size:12px;
    float:left;
}
.breadcrumbList li:before {
    content:"\f105";
    font-weight:600;
    font-family:"Font Awesome 5 Free";
    color:rgba(156,156,156,1);
}
.breadcrumbList li.home:before {
    content:"\f015";
    font-weight:600;
    font-family:"Font Awesome 5 Free";
}
.breadcrumbList li.home > a {
    margin-left:-20px;
    font-size:5px;
    color:transparent;
}
.breadcrumbList li > a {
    padding-left:5px;
    color:rgba(156,156,156,1);
}
.breadcrumbList li > a:hover {
    padding-left:5px;
    color:rgba(156,156,156,.75);
    text-decoration:none;
}
.breadcrumbList li > span {
    padding-left:5px;
    color:rgba(156,156,156,.75);
}

/* modal confirm */
.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 0 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}

/* Side Menu */
.topLevelMenu { padding: 10px 5px 0 10px; font-size: 170%; font-weight: 900; color: #d95b32; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
ul.leftMenus {margin-top: 10px;}
ul.leftMenus:before {
    content:"LEFT MENU";
    font-weight:800;
    color:rgba(241,99,52,1);
}
ul.leftMenus, ul.leftMenus li ul { list-style: none; }
.leftMenus { margin-right: 15px; padding: 0; }
.leftMenus li { background: url("../images/side_menu_divider.png") center bottom repeat-x; }
.leftMenus li a { padding: 10px 0 12px 10px; font-weight: 900; display: block; }
.leftMenus li.ct { font-weight: bold; background-color: #efeede; }
.leftMenus li a.crt,  ul.leftMenus li ul li > a.crt{ color: #4d8e00; }
.leftMenus li a:hover, ul.leftMenus li ul li > a:hover { color: #70b123; }
.leftMenus li.child { text-indent: 10px; }
.leftMenus li ul { margin:0; padding:0; }
.leftMenus li ul li a { padding: 15px 0 15px 10px; font-weight: bold; color: #919191; display: block;}
.leftMenus li ul li a.children { text-indent: 10px; }

/* Article Page Style*/
.articleTitle {
    color: #404040;
	font-family: "Roboto","Nanum Gothic";
	font-size: 25px;
	word-break: break-all;
	font-weight: 900;
	letter-spacing: -0.06em !important;
}
.authorArea {
	margin: 5px auto 0;
	padding: 5px 0 6px;
	width: 100%;
	min-height: 7px;
    color: #757575;
    font-size: 0.75rem;
    border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: table;
}
.authorArea:after{
    content:"";
    display:table;
    clear:both;
}
.authorArea .author {
    margin-right: 10px;
    float: left;
}
.authorArea .counts {
    padding-right: 15px;
    white-space: nowrap;
    float: right;
}
.authorArea .wdate {
    white-space: nowrap;
    float: right;
}
/* Page Style*/
.pageTitle {
    font-weight: 800;
    color: #404040;
    background: url(http://www.torontoconnectchurch.com/design/tconnectchurch/images/txt_divider.png) 0 13px repeat-x;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    line-height: 1.25em;
}
.pageTitle > a {
    background: #fff url(http://www.transparenttextures.com/patterns/concrete-wall.png);
    padding-right: 10px;
    display: inline-table;
}
.outBoundLink {
    margin: 0;
    padding: 4px 0 5px;
    line-height: 1em;
    list-style: none;
}
.outBoundLink:after{
    content: "";
    display: table;
    clear: both;
}
.downloadableFileList {
    margin: 0;
    padding: 0 0 7px;
    line-height: 1em;
    list-style: none;
    /* border-top: #a5a5a5 1px dotted; */
    border-bottom: #a5a5a5 1px dotted;
}
.downloadableFileList:after{
    content: "";
    display: table;
    clear: both;
}
.downloadableFileList li {
    padding: 5px 10px 0 0;
    font-size: 12px;
    font-family: Tahoma,Helvetica;
    color: #757575;
    text-align: left;
    display: block;
    float: left;
}
.downloadableFileList li a {
    margin: 0;
    padding-left: 15px;
    color: #757575;
    background: url(http://www.torontoconnectchurch.com/design/tconnectchurch/images/basic/PaperClip.png) left center no-repeat;
}
hr.divImg {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
}
/* Staff List Page Area*/
.staff_section { margin-left: 0; list-style: none; }
.staff_section li { margin-bottom: 20px; padding-top: 17px; padding-bottom: 25px; display: table; line-height: 1.2em; border-bottom: 1px solid #70b123; }
.staff_section li:last-child { border-bottom: none; }
.staff_section img { margin-top: -5px; max-width: 150px;  margin-right: 10px; float: left; }
.staff_section p { margin: 0.7% 0; color: #838383; font-size: 85%; }
/* Responsive video section ---------------------- */
.embed_video {
    margin: 1% auto;
    width: 95%;
    height: 0;
    position: relative;
    padding-bottom: 46.875%;/*(360 ?? 640 = 56.25%)*/
    padding-top: 35px;
    border-radius: .35rem;
    background-color: rgba(156,156,156,.5);;
    overflow: hidden;
    display: block;
}
.embed_video iframe, .embed_video object, .embed_video embed {
    width: 100%;
    height: 100%;
    background-color: rgba(156,156,156,.5);;
    position: absolute;
    top: 0;
    left: 0;
}
.outboundLink{
    font-size: 12px;
    float:right;
}
.outboundLink:after{
    content:"";
    display:table;
    clear:both;
}
.pageImg {
    text-align: center;
}
.pageImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
p {
    margin: 1% 0;
}



.borderTitle:after {
    content: '';
    display: block;
    width: 165px;
    height: 3px;
    background: rgba(241,99,52,1);
    position: absolute;
    top: -1px;
}
/* Board List Style*/
.boardList {
    border-radius: 0.4em;
}
#board_bar {
    border-top: 2px solid rgba(134,185,201,1);
}
/* table tr:nth-child(odd), table tbody tr:nth-child(odd) {
    background: #DDD;
} */
table tr:nth-child(even), table tbody tr:nth-child(even) {
    background: #FFF;
}
table tr:last-child {
    border-bottom: solid 1px #DDD;
}
.lineTitle {
    padding: 2px 0;
    font-size: 12px;
}
.board_line {
    background: url(http://www.torontoconnectchurch.com/design/tconnectchurch/images/board/line1.gif) no-repeat scroll right top transparent;
    vertical-align: top;
}
.td_bot {
    padding: 8px 3px 7px !important;
    font-size: .85rem;
    line-height: 1em;
    vertical-align: middle !important;
}
.noLine {
    background: url(http://www.torontoconnectchurch.com/design/tconnectchurch/images/board/line0.png) no-repeat scroll right bottom transparent;
}
.td_font_size {
    font-size: .75rem;
}
.td_bot_date {
    padding: 8px 3px !important;
    font-size: 11px;
    /* border-bottom: solid 1px #DDD; */
    text-align: center;
    letter-spacing: -0.05em;
}
.list_even, .list_odd, .list_even a, .list_odd a {
    color: #6b6b6b;
}
.page_numbers_area {
    margin:7px auto 0 auto;
    width:95%;
    text-align:right;
}
.page_numbers, .next, .prev {
    min-width: 33px;
    color:#555555;
    display:inline-block;
    border:1px solid;
    border-radius:3px 3px 3px 3px;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    outline:0 none;
    padding: .5rem .6rem .4rem;
    vertical-align:middle;
    white-space:nowrap;
    word-wrap:normal;
    background-color:#E0E0E0;
    background-image:-moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);
    border-color:#CCCCCC #CCCCCC #AAAAAA;
    box-shadow:0 0 1px #FFFFFF inset;
    text-shadow:0 1px 0 #FFFFFF;
    text-align: center;
}
.page_numbers:hover, .next:hover, .prev:hover {
    color:#555555;
    text-decoration: none;
    background-image:-moz-linear-gradient(center top , #F0F0F0 0px, #E6E6E6 100%);
    border-color:#AAAAAA #AAAAAA #999999;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
}
.page_numbers:active, .next:active, .prev:active, .current {
    color:#555555;
    text-decoration: none;
    background-image:-moz-linear-gradient(center top , #C8C8C8 0px, #E6E6E6 100%);
    border-color:#888888 #AAAAAA #CCCCCC;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF;
}
.page_numbers span {
    padding: 0;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1;
    color:  rgba(0, 0, 0, 0.25);
}
/* CASTING LIST Area*/
[class*="castingThumbList"] {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: #FFF;
}
[class*="castingThumbList"]:after {
    content: "";
    display: block;
    clear: both;
}
[class*="castingThumbList"] li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color:rgba(255, 255, 255, .6);
    border-bottom: 1px dotted #a0a0a0;
}
[class*="castingThumbList"] li.list_3,
[class*="castingThumbList"] li.list_4 {
    margin-bottom: 5px;
    padding-bottom: 5px;
}
[class*="castingThumbList"] li.firstVideo {
    margin-bottom: 5px;
    padding-bottom: 0;
    border-top-right-radius: .5rem;
    background-color:#2E333E;
}
[class*="castingThumbList"] li.topBorder {
    border-top: 1px dotted #a0a0a0;
}
[class*="castingThumbList"] li.firstVideo dd {
    padding: 10px 10px 0 20px !important;
    letter-spacing: -1px;
    line-height: 1.25em;
    display: table;
}
[class*="castingThumbList"] li.firstVideo dd span.vodTitle {
    padding-top:5px;
    width: 100%;
    font-size:1.5em;
    letter-spacing:0;
    line-height:1.25em;
    color:rgba(255, 255, 255, 1);
    display: table;
}
[class*="castingThumbList"] li dl {
    margin: 0;
}
[class*="castingThumbList"] li dt {
    background-color:#2E333E;
}
[class*="castingThumbList"] li dd {
    padding: 0 15px 0 10px !important;
    letter-spacing: -1px;
    line-height: 1.25em;
    display: table;
}
[class*="castingThumbList"] li.asList {
    padding-top: 5px;
    padding-bottom: 4px;
    margin-bottom: 0;
}
[class*="castingThumbList"] li.asList dd {
    padding: 0 !important;
    line-height: 1.25em;
    display: table;
}
[class*="castingThumbList"] li.asList:hover {
    background-color: rgba(156,156,156,.25);
}
[class*="castingThumbList"] li dd a {
    width: 100%;
    color:#a3a7af;
    display: table;
}
[class*="castingThumbList"] li dd a:hover {
    text-decoration: none;
}
[class*="castingThumbList"] li dd span.vodTitle {
    padding-top:5px;
    width: 100%;
    font-size:1em;
    font-weight: bold;
    letter-spacing:0;
    line-height:1.25em;
    color:#2E333E;
    display: table;
}
[class*="castingThumbList"] li dd span.castingDate {
    margin-bottom:10px;
    width: 100%;
    color:#668AD8;
    display: table;
}
[class*="castingThumbList"] li dd span.listVodTitle {
    /* padding-top:5px; */
    width: 100%;
    font-size: .90rem;
    letter-spacing:0;
    line-height:1.25em;
    color:#6b6b6b;
    display: table;
}
[class*="castingThumbList"] li dd span.listCastingDate {
    /* padding-top:5px; */
    width: 100%;
    font-size:.75em;
    /* color:#668AD8; */
    display: table;
    line-height: 1.25em;
}
[class*="castingThumbList"] li dd span.bookName {
    /* margin-right: 10px; */
    padding-right: 10px;
    width: 180px;
    display: inline-table;
    text-align: right;
    font-size: .80rem;
    /* border-right: 1px dotted; */
}
[class*="castingThumbList"] li dd span.speakerName {
    /* margin-right: 10px; */
    padding-right: 10px;
    width: 140px;
    display: inline-table;
    text-align: right;
    font-size: .80rem;
    /* border-right: 1px dotted; */
}
[class*="vod_wrap-"] { margin: 0 auto 0; padding-bottom: 46.875%; padding-top: 35px; width: 100%; height: 0; position: relative; overflow: hidden; display: table; }
[class*="vod_wrap-"] iframe, [class*="vod_wrap-"] object, [class*="vod_wrap-"] embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.listNumber {
    padding-left: 5px;
    padding-right: 5px;
    font-size: .8em;
}
.listNumber:after {
    content: ".";
}
/* Footer */
.footer {
    width: 100%;
    margin-top: 30px !important;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.7);
}
.footer > div {
    text-align: center;
}
.footer > div > span {
    font-size: 13px;
    font-family: Verdana;
}
.footer > div > span > i{
    font-size: 30px;
}
/* .footer > div > span > i.fa-facebook-square:hover{
    color: #3b5998;
    background: #fff;
}

.footer > div > span > i.fa-youtube{
    border: 1px solid  rgba(255,255,255,.7);
    font-size: 20px;
    padding: 4px;
    border-radius: .25rem;
    position: relative;
    top: -4px;
} */

.go-to-top {
    padding: 1em;
    position: fixed;
    bottom: 5em;
    right: 1.35em;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    background-color: rgba(235,235,235,0.80);
    border-radius: 7px;
    z-index: 9999;
}
.go-to-top:hover {
    color: #FFF;
    background-color: rgba(135,135,135,0.50);
}

h4 > strong {
    padding-left: 5px; border-left: 5px solid #CCC;
}